body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #EDE3D5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #403c2b; /* Purple color */
}

.highlight {
    color: #403c2b; /* Yellow color */
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #4a4a4a; /* Dark gray */
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #030302; /* Purple color on hover */
}

.login-button a {
    background-color: #DBB99B; /* Purple background */
    color: rgb(30, 30, 32);
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-button a:hover {
    background-color: #c88955; /* Darker purple on hover */
}

@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Hide links on small screens */
    }
}
